.ggjs-axis path,
.ggjs-axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.ggjs-axis g.tick text {
	font: 12px sans-serif;
}

.ggjs-point {
	stroke: #000;
}

.ggjs-label {
	font: 12px sans-serif;
}

.ggjs-path-map {
	fill: none;
	stroke: red;
	stroke-linejoin: round;
	stroke-width: 1.5px;
}

.ggjs-tile {
	pointer-events: none;
	position: absolute;
	width: 256px;
	height: 256px;
}